@model MVCMusicStore2.Models.Genre

@{
    ViewBag.Title = "Browse Albums";
}
<!-- Begin BlueKai Tag -->
<iframe name="__bkframe" height="0" width="0" frameborder="0" style="display:none;position:absolute;clip:rect(0px 0px 0px 0px)" src="about:blank"></iframe>
<script type="text/javascript" src="http://tags.bkrtx.com/js/bk-coretag.js"></script>
<script type="text/javascript">

// INSERT DATA HERE IN THE FORM:
// bk_addPageCtx("<<SOMEKEY>>", "<<SOMEVALUE>>");
    bk_addPageCtx("Genre", "@Model.Name");
   // bk_addEmailHash("@ViewBag.email");
    bk_doJSTag(26025, 4);


</script>
<!-- End BlueKai Tag -->
<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>
 
            <ul id="album-list" >
                @foreach (var album in Model.Albums)
                {
                    <li>
                        <a href="@Url.Action("Details",
                    new { id = album.AlbumId })">
                            <img alt="@album.Title"
                                 src="@album.AlbumArtUrl" />
                            <span>@album.Title</span>
                        </a>
                    </li>
                }
            </ul>
       
   
</div>
